.header .header-wrapper .header-top {
	z-index: 10;
	padding-top: 15px;
}

.header .header-wrapper .header-top .header-search-form .flex-col input[type="search"] {
	text-align: center;
    border-radius: 20px;
    min-width: 400px;
    padding: 10px 20px;
    height: auto;
    border: none;
    box-shadow: unset;
    font-style: italic;
}
.header .header-wrapper .header-top .header-search-form .flex-col .ux-search-submit {
	background-color: transparent;
	border: none;
}

.header .header-wrapper .header-top .header-search-form .flex-col .ux-search-submit:hover {
	box-shadow: none!important;
}

.header .header-wrapper .header-top .header-search-form .flex-col .ux-search-submit i {
	color: #777;
}

.header .header-wrapper .header-top .header-search-form .flex-col .ux-search-submit i:hover {
	color: #81d742;
}

.header .header-wrapper .header-top .top-bar-nav a {
	flex-direction: row-reverse;
	padding: 0 5px;
}

.header .header-wrapper .header-top .top-bar-nav a:hover {
	background-color: #81d742;
	border-radius: 20px;
}

.header .header-wrapper .header-top .top-bar-nav a:hover i:before {
	color: #fff;
}

.header .header-wrapper .header-top .top-bar-nav a .header-account-title {
	color: #000;
    margin-left: 5px;
}

.header .header-wrapper .header-main #logo img {
	position: relative;
	top: -45px;
	max-height: 140px;
	z-index: 12;
}
.header .header-wrapper.stuck .header-main #logo img {
	top: unset;
}

.header .header-wrapper .header-main .header-nav-main li.menu-item a {
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 700;
}

.header .header-wrapper .header-main .header-nav-main li.active {
	position: relative;
}

.header .header-wrapper .header-main .header-nav-main li.active a {
	background-color: transparent;
	color: #777 !important;
	padding: 0;
}

.header .header-wrapper .header-main .header-nav-main li.active:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	bottom: 0;
	background-color: #f1e32a;
}

.header .header-wrapper .header-main .flex-col .header-nav-main .cart-item .header-button .header-cart-link {
	background-color: #e3e3e3;
	border: none;
}

.header .header-wrapper .header-main .flex-col .header-nav-main .cart-item .header-button .header-cart-link:hover {
	background-color: #81d742;
}
.header-search-form .searchform {
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 0 20px;
}
.header-search-form .searchform > .flex-row {
	align-items: center;
}
.header-wrapper:not(.stuck) .header-main .logo-left .logo {
	margin-right: 150px;
}
